.irregular-hours .record {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.irregular-hours .specialname input{
	padding: 5px 0 0;
	border: none;
}
.irregular-hours .specialname {
	margin-bottom: 10px;
}

.irregular-hours .entry {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.irregular-hours .partone {
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.irregular-hours .day {
  width: 150px;
  text-transform: capitalize;
}
.irregular-hours .status {
  width: 55px;
  margin-left: 10px;
}

.irregular-hours input[type="date"] {
	padding: 5px 0;
	border: none;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.irregular-hours .isopen {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.irregular-hours .periodlist {
  padding-right: 15px;
}

.irregular-hours select {
  margin: 5px;
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.irregular-hours .remove {
  display: inline-block;
  padding: 10px 15px;
  color: #aaa;
}

.irregular-hours .add {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  background: #2196F3;
  color: white;
}
.add:hover, .add-record:hover, .remove:hover, .remove-record:hover {
  cursor: pointer;
}

.irregular-hours .add-record {
	color: #2196F3;
	margin: 20px 0 0;
}
.irregular-hours .remove-record {
	display: inline-block;
	color: #aaa;
	padding: 4px 0 4px 15px;
	font-size: 22px;
}